= form_for(@project) do |f|
  = f.label(:name)
  = f.text_field(:name)
  = f.label(:owner)
  = current_user
  = hidden_field_tag(:owner, current_user)
  = f.label(:office)
  = f.select(:office, ['SF', 'NY', 'other'])
  = f.label(:technology)
  = f.text_field(:technology)
  = f.label(:description)
  = f.text_area(:description)
  = f.submit

