%table
  %thead
    %tr
      %th Project Name
      %th Edit
      %th Interest
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to("Edit #{project.name}", edit_project_path(project))
        - if project.interest_from?(current_user)
          %td= "You are interested in #{project.name}"
        - else
          %td= link_to("I'm interested in #{project.name}", project_interests_path(project, :user => current_user), :method => :post)

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"